{{!-- <form action="/admin/edited/{{product._id}}" method="post">
    <input type="email" value="{{product.Email}}" name="Email" required>

    <label for="">Email</label>
<button type="submit" value="submit">submit</button>
</form> --}}


<section class="vh-100" style="background-color: #eee;">
  
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                  
                <form class="mx-1 mx-md-4" method="post" action="/admin/edited/{{product._id}}">
                {{#if mailErr}}
    <h3 style="color: red;">Email already taken</h3>
    {{/if}}


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" name="Name" value="{{product.Name}}" class="form-control" required/>
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                     <input style="display: none;" type="text" name="status" value="true">

                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" name="Email" value="{{product.Email}}" class="form-control" required/>
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  

            

                   <button id="sub" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="submit">register</button>
              
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script>
    $(document).ready(function(){
      $('#form3Example4c').blur(function(){
        let text=$(this).val()
        if(text.length<4){
            $('#error').show()
        }
      })
       

      $('#sub').click(function(e){
          let text1=$('#form3Example4c').val()
          let text2=$('#form3Example4cd').val()
          if(text1!=text2){
                $('#error1').show()
                 e.preventDefault();
          }
            
      })
    })
  </script>
